body {
    background-image: url(Lancia.jpg);
}

h1{
    color: brown;
    text-align: center;
    background-color: blanchedalmond;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2{
    color: rgb(20, 126, 27);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: blanchedalmond;
}

#head{
    color: rgb(55, 162, 228);
    text-align: center;
    background-color: blanchedalmond;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.heading{
    color: rgb(52, 225, 37);
    text-align: center;
    background-color: blanchedalmond;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div.d0{ height: 100px;
    color: black; background-color: aqua;
    border: 4px double black;
    margin: 30px;

}

div.d1{ width: 100%;height: 100px;
    color: black; background-color: aqua;
    opacity: 0.5;
    margin: 30px 20px 10px 10px;
    padding: 10px 5px 20px 15px;
}

div.d2{
    height: 40px; width: 100px;
    float: right;
    background-color: blueviolet;
    border: 2px dotted black;
}

p{
    background-color: aliceblue;
}

div ~ p { 
    color: red; 
}

